*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #38ef7d;
  --second-color: #F5F5F5;
 --animate-duration: 3s;
}
html{
  font-size: 62.5%;
}
body{
max-width: 1440px;
width: 100%;
height: 100vh;
font-size: 1.8rem;
// margin: 0 auto;
overflow-x:hidden;
}
img{
  display: block;
  max-width: 100%;
  width: 100%;
  // height: 100%;
  object-fit: cover;
}
a{
  text-decoration: none;
  cursor: pointer;
}
li{
  list-style: none;
}
input,
button,
textarea{
  outline: none;
  font-size: 1.8rem;
}
textarea{
  resize: none;
}
button{
  cursor: pointer;
  
}
@mixin size($width,$height:$width) {
  width: $width;
  height: $height;
}
@mixin flexbox($align:flex-start,$justify:flex-start,$flex-direction:row,$wrap:nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

.animate__animated{
  animation-duration: 2s;
}
.fs-2{
  font-size: 3rem!important;
}
.title{
  text-align: center;
  padding-top: 4rem;
  h1{
    text-transform: uppercase;
    padding-bottom: 2rem;
    position: relative;
    color: #040404;
    &::before{
      content: "";
      position: absolute;
      width: 10%;
      height: 5px;
      background: var(--primary-color);
      border-radius: 10px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p{
    margin: 3rem 0;
    color: #949494;
  }
}
.button{
  text-align: center;
  
}

 .logo{
 
      @include flexbox(center);
      &__title{
        font-weight: bold;
        color: transparent;
        background: linear-gradient(to right bottom, #11998e, var(--primary-color));
        -webkit-background-clip: text;
        background-clip: text;
        margin-left: 1rem;
        overflow: hidden;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          height: 100%;
          background: linear-gradient(90deg,transparent 0%,#38ef7d 5%,#11998e 100%);
          animation: spanFade 10s linear forwards;
        }
        @keyframes spanFade{
          0%{
            left: -10%;
             width: 0;

          }
          50%{
            left: 50%;
            width: 100%;
          }
          100%{
            left: 120%;
            width: 0;

          }
        }
      }
    }
.link{
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    outline: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(to left, #C4E538,#009432, #C4E538);
    border: 1px solid var(--primary-color);
    transition: all 0.6s ease!important;
    background-size: 200%;

   &:hover{
    background-position: right;
    border: 1px solid var(--primary-color);
    color: #fff;

   }
  }
.container{
  width: 90%;
  margin: 0 auto;
}
ol,ul{
  padding: 0;
  margin: 0;
}
.header{
  position: absolute;
  z-index: 2;
  width: 100%;
  max-width: 1440px;
  &__top{
    .container{
      @include flexbox(center,space-between);
      padding: 1rem 0;
    }
    background: rgba($color: #625A57, $alpha: 0.5);
    // background: aqua;
    .loggin{
      margin-right: 1rem;
    }
    a{
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #fff;
    }
  }
  &__bottom{
    .container{
      @include flexbox(center,space-between);
    }
    nav ul,.contact{
      @include flexbox(center);
    }
   
    .menu{
      z-index: 999;
      &__link{
        padding: 1.5rem;
          display: block;
          color: #fff;
          font-weight: bold;
          &-child{
          display: block;
           padding: 1.5rem;
            
          }
      }
      &__list{
        justify-content: space-around;
          i{
            font-size: 1.5rem;
          }
        
        &__item{
          position: relative;
          // background: rgba($color: #000000, $alpha: 0.2);
          display: block;
          &:hover{
            .menu-child{
           transform: translateY(0px);
           opacity: 1;
           visibility: visible;

            }
          }
         
        }
      }
      &-child{
        display: block;
        position: absolute;
        min-width: 30rem;
        background: #fff;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
        margin-top: 1px;
        box-shadow: 0 2px 5px rgba($color: #000, $alpha: 0.5);
        transition: all 0.5s;
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
        max-height: 80vh;
        overflow-y: auto;
        &::-webkit-scrollbar{
          display: none;
        }
        &__item{
          a{
            transition: all 0.5s;
              &:hover{
              background: var(--primary-color);
              color: #fff;

            }

          }
        }
       
      }
    }
    .contact{
      .social{
        margin-right: 1rem;
        a{
          margin: 0 1rem;
          
        }
      }
    }
  }
}

.carousel{
  position: relative;
  // z-index: -1;
  &-inner{
   text-align: center;
    
  }
  &-overlay{
    position: absolute;
    @include size(100%);
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);

  }
  &-item{
    img{
       height: 65rem;
    }
  }
  
  img{
    animation: scaleImg 5s linear forwards;
  }
  @keyframes scaleImg{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.2); 

    }
  }
  &-caption{
    position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .fs-1{
  font-size: 56px!important;
  color: #fff;
  }
  &-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
  button.active[data-bs-target] {
    background-color: var(--primary-color)!important;
    color: #fff!important;
    border-color: transparent!important;
    z-index: 1;
}


}
main{
  margin-top: 4rem;
  p{
    color: #5C5C5C;
    margin-bottom: 2rem;
  }
  .see-more{
    text-align: center;
  }
}
.advertisement{
&__img{
  width: 10rem;
  margin-left: auto;
  &--right{
    margin-right: auto;
  }
}
  &__content{
    @include flexbox(center,center);
  
    h2{
      margin-top: 3rem;
      font-size: 2rem;
      text-transform: uppercase;
    }
    &__left{
      text-align: right;
      width: 25%;
    }
    &__mid{
      width: 50%;
      &__box{
        border: 1px solid #EFEFEF;
        padding: 1rem;
        overflow: hidden;
        // border: 2px solid #949494;
        border-radius: 50%;
      }
      &__imageBox{
        border-radius: 50%;
        overflow: hidden;
      }
    }
    &__right{
      width: 25%;
    }
    &__left,&__mid,&__right{
      padding: 2rem;
      line-height: 3rem;
    }
  }
}
.newspapers{
  margin-top: 10rem;
  background: var(--second-color);
  &__img{
    width: 15rem;
  }
  &__link{
    @include flexbox(center,space-around );
    height: 10rem;
  }
}
.service{
  margin-top: 5rem;
  background: var(--second-color);
  &__product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    &__icon{
      width: 4rem;
      height: 4rem;
    }
    &__image{
      &--box{
            position: relative;
           height: 25rem;
           div{
            position: absolute;
            width: 7rem;
            height: 7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            left: 50%;
            bottom: 0;
            transform: translate(-50%,50%);
            background: var(--primary-color);
           }
      }
    }
    &__item{
        // width: 40rem;
        height: auto;
        border-radius: 5px;
        overflow: hidden;
        background: #fff;
        margin-bottom: 5rem;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.199);
    }
    &__content{
      margin-top: 5rem;
      text-align: center;
      color: #444444;
      font-size: 1.6rem;
      padding: 0 1.7rem;
      h2{
        margin-bottom: 2rem;
      }
      p{
        line-height: 2.5rem;
      }
    
    }
    &__box{
      height: calc(100% - 25rem);
      @include flexbox(center, space-between,column);
        a{
        // padding: 15px;
        // background: var(--primary-color);
        margin-bottom: 5rem;
        // color: #fff;
        // border-radius: 5px;
        // font-weight: bold;
      }
    }
  }
}
.procedure{
  height: 40rem;
  
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../images/procedure.png);
  background-size:  cover;
  filter: grayscale(60%) contrast(60%);
  z-index: -1;
    top: 0;
    left: 0;
  }
   main{
   .container{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    }
    
  }

  &__image{
    height: 22rem;
    @include flexbox(center,space-between,column);
    p{
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
    }
    &__box{
      width: 15rem;
    height: 15rem;
    background: #fff;
    border-radius: 50%;
    padding: 3rem;
    }
  }
}
.feedback{
  background: #F3F3F3;
  padding-bottom: 5rem;
  &__content{
    @include flexbox(flex-start,center);
    width: 60%;
    margin: 0 auto;
    &__image{
      width: 10rem;
      height: 10rem;
      margin-right: 2.5rem;
      flex-shrink: 0;
          border-radius: 50%;
    overflow: hidden;
    }
    &__text{
      width: 100%;
      flex-grow: 1;
      font-style: italic;
      h3{
        font-weight: 800;
        margin: 1rem 0;
        position: relative;
       
      }
      i{
        color: #D26E4B;
      }
      p{
        line-height: 3rem;
      }
    }
  }
}
.data{
  height: 30rem;
  // margin-bottom: 10rem;
  position: relative;
  &::after{
    content: "";
    @include size(100%);
    position: absolute;
    background: url(../../images/data.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    top: 0;
    left: 0;
    z-index: -1;
      filter: grayscale(20%) contrast(80%);

  }
  &__container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center
  }
  &__item{
    @include size(100%,13rem);
    color: #1fa351;
    @include flexbox(center,center,column);
    span{
      font-size: 7rem;
      font-weight: bold;
    }
    p{
      font-size: 2rem;
    }
  }
}
.signUp-now{
  margin: 2rem 0;
  height: 30rem;
  background: var(--primary-color);
  padding: 5rem;
  line-height: 2;
  color: #fff;
  h1{
    font-size: 4rem;
  }
  a{
    margin-top: 2rem;
    padding: 10px 25px;
    display: inline-block;
    background: #fff;
    border-radius: 3rem;
    color: #1fa351;
    font-weight: bold;

  }
}
.footer{
  header{
    height: 12rem;
    background: #272D2E;
    .container{
      @include flexbox(center,space-around);
      height: 100%;
    }
  }
  &__contact{
    @include flexbox(center);
    .text{
      margin-left: 2rem;
      span{
        color: #767D7F;
        font-size: 2.3rem;
        text-transform: uppercase;
      }
      a{
        color: #fff;
        font-size: 2rem;
      }
    }
  }
  main{
    padding-top: 8rem;
    margin: 0;
    background-color: #343C3E;
    .container{
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      gap: 5rem;
       
    }
    p{
      color: var(--primary-color);
    }
  }
  &__item:not(:first-child){
    @include flexbox(flex-start,space-between,column);
    h1{
      margin-bottom: 3rem;
      color: var(--primary-color);
    }
    a{
      line-height: 2;
      color: #fff;
    }
  }
  &__slogan{
    height: 100%;
    @include flexbox(flex-start,space-between,column);
    h2{
      margin: 3rem 0;
      color: var(--primary-color);
    }
  }
}
@media screen and (max-width: 1023px){
  body{
    font-size: 1.5rem;
  }
  .header__bottom{
    display: none;
  }
}
